.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.center {
  text-align: center;
}

.comentarios{
  padding-left: 400px;
}

.comment{
  border: hidden;
  border-radius: 10%;
  width: 100%;
  height:auto;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.producto{
  width: 250px;
  height: 200px;
  padding: 15px;
  text-align: center;
  float: left;
  border-bottom: groove;
  border-bottom-color: dimgray;
}

.instruction{
  background-color: indianred;
  color:white;
  height: 35px;
  text-align: center;
}

.fav{
  background-color: gray;
  align-content: center;
  align-items: center;
}

.textFav{
  background-color: gray;
  text-align: center;
  align-content: center;
  color:white;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
