.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.producto{
  width: 250px;
  height: 200px;
  padding: 15px;
  text-align: center;
  float: left;
  border-bottom: groove;
  border-bottom-color: dimgray;
}

.instruction{
  background-color: darkgrey;
  color:white;
  height: 50px;
  text-align: center;
}

.fav{
  background-color: gray;
  align-content: center;
  align-items: center;
}

.textFav{
  background-color: gray;
  text-align: center;
  align-content: center;
  color:white;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
